.grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px
    padding: 15px
    .item
        background-color: $black
        color: #fff
        padding: 20px
        position: relative
        margin: 10px
        @include shadow-1
        &:before
            position: absolute
            content: ''
            top: -10px
            right: -10px
            bottom: -10px
            left: -10px
            border: 1px solid #000000
