@import 'basic/reset.sass'

@import 'components/Header.sass'
@import 'components/Footer.sass'

@import 'pages/index.sass'
@import 'pages/news.sass'

.link
    display: block
    padding: 20px
    background-color: gainsboro
    color: $black
    text-align: center
