<template lang="pug">
    .index
        .grid
            .item(v-for="(item, index) in 12") {{index + 1}}
        NLink(to="news").link news page
</template>

<script>
    export default {
    }
</script>

